@media(max-width:993px){
   .header__menu-link{
      font-size: 18px;
   }
   /* .container{
      max-width: 890px;
   } */
}
@media(max-width:768px){
   .hero__title{
      font-size: 42px;
   }
   .hero__text{
      font-size: 16px;
      max-width: 340px;
      text-align: center;
   }
}